*{
    margin : 0;
    padding : 0;
    list-style : none ;
    text-decoration : none;
    box-sizing: border-box;
}
body {
    background-color:black;
    height: 700px;
    width: 700px;
}

.yellow{
    background-color:#FFDD00;
    width: 1500px;
    height: 1246px;
    border-radius: 50%;
    transform: translateX(-70%);
    position: absolute;
}
.blue {
    background-color:#0020F2;
    width: 560px;
    height: 560px;
    position: absolute;
    border-radius: 50%;
    transform: translateX(-75%);
    top: 360px;
    margin-left: 30px;
}
.login {
    color: #FFFFFF;
    font-size:120px;
    font-family: 'Livvic', sans-serif;
    margin-left: 566px;
    font-weight: 100;
    margin-bottom:80px ;
}
.name {
    width: 750px;
    height: 55px;
    border: 1px solid #B9B9B9;
    border-radius: 5px;
    margin-left: 566px;
    background-color: black;
    font-size: 20px;
    color: #808080;
    padding-left: 20px;
}
.pass {
    width: 750px;
    height: 55px;
    border: 1px solid #B9B9B9;
    border-radius: 5px;
    margin-left: 566px;
    margin-top: 50px;
    background-color: black;
    font-size: 20px;
    color: #808080;
    margin-bottom: 50px;
    padding-left: 20px;
}
.yellow_button {
    width: 750px;
    height: 55px;
    font-weight: 700;
    font-size: 24px;
    background-color: #FFDD00;
    border-radius: 5px;
    display: block;
    margin-left: 566px;
    margin-top: 80px;
}
.all {
    margin-bottom: 300px;   
    vertical-align: top;
    margin-left: 250px;
    padding-top: 300px;
}