*{
    margin : 0;
    padding : 0;
    list-style : none ;
    text-decoration : none;
    box-sizing: border-box;
}
body {
    background-color:black;
}
.all {
    background-color:black ;
    width: 1280px;
    height: 720px;
    margin: 0 auto;
    border-radius: 8px 8px 8px 8px;
    margin: 50px 50px;
}
.yellow{
    background-color:#FFDD00;
    width:946px;
    height: 946px;
    border-radius: 50%;
    transform: translateX(-70%);
    position: absolute;
}
.blue {
    background-color:#0020F2;
    width: 416px;
    height: 416px;
    position: relative;
    border-radius: 50%;
    transform: translateX(-75%);
    top: 260px;
    margin-left: 30px;
}

.login {
    color: #FFFFFF;
    margin-left: 100px;
    font-size: 200px;
    font-family: 'Livvic', sans-serif;
    margin-left: 566px;
}
.login {
    width: 270px;
    height: 120px;
    top: 106px;
    left: 566px;
}
.name {
    width: 550px;
    height: 48px;
    border: 1x solid #B9B9B9;
    border-radius: 5px;
    margin-left: 566px;
    margin-top: 109px;
}
